.contact-content{
    color: rgb(118, 100, 100);
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    font-family: Arial, sans-serif;
    font-size: 20px;
    transform: translateY(140px);
}

.contact-title{
    font-size: 110px;
    font-weight: 600;
    margin-bottom: 20px;
    transform: translateY(100px);
    color: rgb(118, 100, 100);
}

.contact-footer button {
    font-size: 16px;
    color: rgb(118, 100, 100);
    transform: translateY(200px);

    border: none;
    background: transparent;
    border-bottom: 2px solid transparent;
    transition: all 0.2s ease;
}

.contact-footer button:hover {
    background-color: rgb(118, 100, 100);
    color: white;
    border-bottom: 2px solid white;
    transform: translateY(200px);
}